<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<body>

<head th:fragment="userheader">
<title>Symphony-Test Automation Report</title>
<link rel="icon" th:href="@{/images/icon.jpg}" type="image/icon type">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<nav th:fragment="usermenu" class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-white" href="#"> <b></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#"><b>Home</b> <span class="sr-only">(current)</span></a>
      </li>
     
     
     <!-- ShipmentType Start -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <b> Test Scenario </b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " th:href="@{/testscenario/excel}">Excel Export</a>
          <a class="dropdown-item " th:href="@{/testscenario/register}">Add Test Scenario</a>
          
          <a class="dropdown-item " th:href="@{/testscenario/all}">ALL</a>
          <a class="dropdown-item " th:href="@{/testscenario/charts}">CHARTS</a>
          <a class="dropdown-item " th:href="@{/testscenario/documents/show}">Documents</a>
        </div>
      </li>
     <!-- ShipmentType End -->
     


    </ul>
    
  </div>
</nav>

</body>
</html>