<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>


<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container">
	
	<div th:insert="fragments/commonui :: userheader"></div>
	

	<div class="card-header bg-info text-white text-center">
		<h3 style="font-size: 20px">WELCOME TO TESTCASE REPORT PAGE</h3>
	</div>




	<img th:src="@{/shipmentA.png}" />
	<img th:src="@{/shipmentB.png}" />
	<img th:src="@{/shipmentC.png}" />



</div>

</body>
</html>